<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        {% include "partials/_head.html" %}
        {% block additional_head %}{% endblock additional_head %}
    </head>

    <body>

        {% if site_setup.show_header %}
            {% include "partials/_header.html" %}
        {% endif %}

        {% block content %}{% endblock content %}

        {% if site_setup.show_pagination %}
            {% include "partials/_pagination.html" %}
        {% endif %}

        {% if site_setup.show_footer %}
            {% include "partials/_footer.html" %}
        {% endif %}
        
    </body>

</html>