{% extends 'global/base.html' %}

{% block content %}

    <main class="main-content section-wrapper">
        <div class="section-content-wide">
            <div class="section-gap">

                    {% if posts %}
                        <div class="card-grid">

                            {% for post in posts %}
                                {% include "partials/_post-card.html" with i=forloop.counter0 %}
                            {% endfor %}

                        </div>
                    {% else %}
                        <div class="not-found center">
                            <h1>Sem publicações.</h1>
                            <p>
                                Nada encontrado 😔! Por favor, volte para a
                                <a href="{% url "blog:index" %}">Index</a>
                            </p>
                        </div>
                    {% endif %}
                    
            </div>
        </div>
    </main>
    
{% endblock content %}